<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/article.css">
<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>