<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>
<body>
	<div class="navbar">
		<div class="top-bar">
			<a href="/" class="logo active">
				<b>简</b>
			</a>
			<a href="">
				<i class="icon-subject"></i>
			</a>
			<a href="">
				<i class="icon-mobile"></i>
			</a>
		</div>
		<div class="bottom-bar">
			<a href="">
				<i class="icon-text-color"></i>
			</a>
		</div>
	</div>
	<div class="navbar-user">
		<a class="login" href="/login">
			<i class="fa icon-enter"></i>
			登录
		</a>
		<a class="login" href="/reg">
		<i class="fa icon-user"></i>
			注册
		</a>
	</div>
	<div class="login-page">
		<div class="logo">
			<div class="title">诉·说</div>
			<div class="detail">交流故事，沟通想法</div>
		</div>
		<h4 class="title">
			<span>
				<a href="javascript:;" class="active login" value="login">登录</a>
				<b>·</b>
				<a href="javascript:;" class="reg" value="reg">注册</a>
			</span>
		</h4>
		<div class="sign-in">
			<form method="post" action="/login">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-user"></i></span><input type="text" name="name" placeholder="手机号码/电子邮件">
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="输入密码">
				</div>
				<button class="login-btn" type="submit"><span>登  录</span></button>	
				<div class="control-group">
					<div class="remberme">
						<input type="checkbox"><span>记住我</span>
					</div>
					<div class="forget">
						<a href="www.baidu.com">忘记密码</a>
					</div>
					<div style="clear:both;"></div>
				</div>
			</form>
		</div>
		<div class="reg">
			<form method="post" action="/reg">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-mail"></i></span><input type="text" name="name" placeholder="手机号码/电子邮件">
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-user"></i></span><input type="text" name="nickname" placeholder="选一个昵称">
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="输入密码">
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"></i></span><input type="password" name="password-repeat" placeholder="重复密码">
				</div>
				<button class="reg-btn" type="submit"><span>注  册</span></button>	
				<div class="control-group">
					<div class="remberme">
						<input type="checkbox"><span>记住我</span>
					</div>
					<div class="forget">
						<a href="www.baidu.com">忘记密码</a>
					</div>
					<div style="clear:both;"></div>
				</div>
			</form>
		</div>
		<div class="login-sns">
			<p>您还可以使用以下方式直接登录</p>
			<ul class="login-sns">
				<li class="weibo">
					<a href="/users/auth/weibo">
						<i class="fa icon-sina-weibo"></i>
					</a>
				</li>
				<li class="qq">
					<a href="/users/auth/qq">
						<i class="fa icon-qq"></i>
					</a>
				</li>
				<li class="github">
					<a href="/users/auth/github">
						<i class="fa icon-github"></i>
					</a>
				</li>
				<li class="google">
					<a href="/users/auth/google">
						<i class="fa icon-google-plus"></i>
					</a>
				</li>
				<li class="wechat">
					<a href="/users/auth/wechat">
						<i class="fa icon-wechat"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="javascript/require.js" data-main="javascript/main"></script>
	<script type="text/javascript" src="javascript/jquery.js"></script>
	<script type="text/javascript">
		var LoginOrReg = '<%= loginOrReg %>';
		if(LoginOrReg == 'reg'){
			$('div.sign-in').hide();
			$('a.login').removeClass('active');
			$('div.reg').show();
			$('a.reg').addClass('active');
		}
	</script>
</body>
</html>