<%- include header %>
<form method="post" action="/upload" id="upload" enctype="multipart/form-data">  
  <input type="text" name="title"><br>
  <input type="file" name="file1" multiple="multiple"><br>
  <input type="file" name="file2" multiple="multiple"><br>
  <input type="file" name="file3" multiple="multiple"><br>
  <input type="file" name="file4" multiple="multiple"><br>
  <input type="file" name="file5" multiple="multiple"><br>
  <input type="submit" value="Upload">
</form>  
<%- include footer %>